/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
h1 {font-family: 'Chango', cursive;}
h3 {font-family: 'Chango', cursive;}
p {font-family: 'News Cycle', sans-serif;}